<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.CategoryMapper">

    <select id="findAll" resultType="com.manage.entity.Category">
        SELECT * FROM category ORDER BY level, id
    </select>

    <select id="findById" parameterType="long" resultType="com.manage.entity.Category">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="string" resultType="com.manage.entity.Category">
        SELECT * FROM category WHERE name = #{name} LIMIT 1
    </select>

    <select id="findByCode" parameterType="string" resultType="com.manage.entity.Category">
        SELECT * FROM category WHERE code = #{code} LIMIT 1
    </select>

    <insert id="insert" parameterType="com.manage.entity.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name, code, parent_id, level, path, description, status, create_user)
        VALUES (#{name}, #{code}, #{parentId}, #{level}, #{path}, #{description}, #{status}, #{createUser})
    </insert>

    <update id="update" parameterType="com.manage.entity.Category">
        UPDATE category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="path != null">path = #{path},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM category WHERE id = #{id}
    </delete>

</mapper> 