<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.TagMapper">

    <select id="findAll" resultType="com.manage.entity.Tag">
        SELECT * FROM tag ORDER BY id
    </select>

    <select id="findById" parameterType="long" resultType="com.manage.entity.Tag">
        SELECT * FROM tag WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.manage.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag (name, color, description, status, create_user)
        VALUES (#{name}, #{color}, #{description}, #{status}, #{createUser})
    </insert>

    <update id="update" parameterType="com.manage.entity.Tag">
        UPDATE tag
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="color != null">color = #{color},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM tag WHERE id = #{id}
    </delete>

    <select id="findByName" parameterType="string" resultType="com.manage.entity.Tag">
        SELECT * FROM tag WHERE name = #{name}
    </select>

</mapper> 